doctype html
html(lang='en', ng-app="InterviewTest")
    head
        title Test Interview

        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/main.css")
        script(src="/vendors/angular.min.js")
        script(src="/vendors/angular-route.min.js")
        script(src="/vendors/jquery.min.js")
        script(src="/vendors/bootstrap.min.js")

    body

        header.page-header
            .container
                h1 Welcome

        .container
            main(ng-view) Loading


        script(src="/scripts/app.js")
        script(src="/scripts/services/client.service.js")
        script(src="/scripts/services/provider.service.js")
        script(src="/scripts/controllers/clients.controller.js")
        script(src="/scripts/directives/client_create.directive.js")