<a class="btn btn-primary pull-right" data-toggle="modal" data-target="#createClientModal">Create client</a>
<h2>Clients</h2>


<h3 ng-hide="clients && clients.length">There are no clients yet.</h3>

<table class="table" ng-show="clients && clients.length">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Providers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="client in clients">
            <td>{{client.name}}</td>
            <td>{{client.email || '-'}}</td>
            <td>{{client.phone || '-'}}</td>
            <td>
                <span ng-repeat="(key, provider) in client.providers">
                    <span ng-if="key">, </span>
                    {{provider.name}}
                </span>
            </td>
            <td>
                <a class="btn btn-xs pull-right" ng-click="onRemove(client.id)">Remove</a>
                <a class="btn btn-xs pull-right" data-toggle="modal" data-target="#createClientModal" ng-click="onEdit(client)">Edit</a>
            </td>
        </tr>
    </tbody>
</table>


<client-create></client-create>

