<!-- Modal -->
<div class="modal fade" id="createClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class="modal-content" name="create_client">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Client</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" ng-model="name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" ng-model="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phone" name="phone" ng-model="phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="providers" class="col-sm-2 control-label">Phoviders</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="providers" ng-model="new_provider">
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary pull-right" ng-click="onAddProvider()">Add Provider</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-show="providers && providers.length">
                        <div class="col-sm-5 col-sm-offset-2">

                            <div class="row" ng-repeat="provider in providers">
                                <div class="col-xs-8">
                                    <input type="checkbox" name="provider_checkbox[]" value="{{provider.id}}" ng-click="selectProvider(provider.id)" ng-checked="isProviderSelected(provider.id)">
                                    <label ng-hide="editing_provider == provider.id">{{provider.name}}</label>

                                    <input ng-show="editing_provider == provider.id" class="pull-right" type="text" name="editProvider[]" ng-model="$parent.new_provider_name" ng-keypress="editProvider($event)" style="width: 80%;">
                                </div>
                                <div class="col-xs-1">
                                    <a ng-click="onEditProvider(provider.id)" class="glyphicon glyphicon-edit" aria-hidden="true"></a>
                                </div>
                                <div class="col-xs-1">
                                    <a ng-click="onDelete(provider.id)" class="glyphicon glyphicon-trash" aria-hidden="true"></a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="onSubmit()">
                    <span ng-if="editing">Update</span>
                    <span ng-if="!editing">Create</span>
                </button>
            </div>
        </form>
    </div>
</div>


